# Environment: "development" / "test" / "production"
NODE_ENV="development"

# MySQL Database
MYSQL_HOST=
MYSQL_PORT=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=

# gRPC Server
GRPC_PORT=9000

# Kafka message publishing
KAFKA_BROKERS="localhost:9092,localhost:9192"  # comma separated
OUTBOX_POLL_INTERVAL_MS=1000
OUTBOX_POLL_BATCH_SIZE=20
