# Environment: "development" / "test" / "production"
NODE_ENV="development"

# SMTP (Mailpit)
SMTP_HOST=
SMTP_PORT=
SENDER_EMAIL=

# Kafka
KAFKA_BROKERS="localhost:9092,localhost:9192"  # comma separated
