# Environment: "development" / "test" / "production"
NODE_ENV="development"

# Express server
SERVER_PORT=1337

# Auth service gRPC
AUTH_GRPC_HOSTNAME=
AUTH_GRPC_PORT=

# Money Movement service gRPC
MONEY_MOVEMENT_GRPC_HOSTNAME=
MONEY_MOVEMENT_GRPC_PORT=
