# Environment: "development" / "test" / "production"
NODE_ENV="development"

# MySQL Database
MYSQL_HOST=
MYSQL_PORT=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=

# Kafka
KAFKA_BROKERS="localhost:9092,localhost:9192"  # comma separated
